@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --foreground-rgb: 0 0 0;
    --background-rgb: 255 255, 255;
    --primary-rgb: 161 210 206;
    --secondary-rgb: 193 152 117;
    --lapis-rgb: 51 101 138;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255 255 255;
      --background-rgb: 0 0 0;
      --primary-rgb: 80 166 159;
      --secondary-rgb: 142 100 64;
      --lapis-rgb: 34 66 91;
    }
  }  
}

.post-rich-text ul {
  list-style-type: circle;
  list-style-position: outside;
  padding-left: 1.1rem;
}

main {
  display: block;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


